<app-feature-header [ftre_name]="'category-collection'"></app-feature-header>
<div class="row align-items-center">
  <div class="col-md-12 mt-4 mt-md-0 d-flex justify-content-end">
    <button class="btn btn-primary btn-lg d-flex align-items-center me-2 p-2" (click)="open(addeditcategory)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg me-1"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
      </svg>
      Create Category
    </button>
  </div>

  <div class="col-md-12 mt-3">
    <app-shared-singleton-table [mainData]="catTblData" [hdkeys]="catDefHeaders" [uniqIdKey]="uniqId" [btnArr]="btnArrList"
      [currentPage]="currentPage" [pageSize]="pageSize" (_btnFunctn)="btnConfgFn($event)"></app-shared-singleton-table>

    <ngb-pagination class="d-flex justify-content-end" [(page)]="currentPage" [pageSize]="pageSize" size="md"
      [collectionSize]="catDataCount" [maxSize]="10" [boundaryLinks]="true"
      (pageChange)="swtchPage($event)"></ngb-pagination>
  </div>
</div>

<ng-template #addeditcategory let-addCntModal>
  <form [formGroup]="categoryForm" (submit)="!isEdit ? addCategory() : updCategory()">
    <div class="modal-header">
      <h4 clss="modal-title"></h4>
      <span class="me-3 cursor-pointer" (click)="addCntModal.dismiss('Cross click')">X</span>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="p-4">
            <div>
              <div class="mb-3">
                <label class="form-label fw-semibold">Category Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control"
                  [ngClass]="{ 'is-invalid': catFormErrDtls['catName'].errors && (catFormErrDtls['catName'].dirty || catFormErrDtls['catName'].touched)}"
                  formControlName="catName" placeholder="Category Name">
                @for (vldtn of validationMessage.catName; track vldtn) {
                <div class="invalid-feedback">
                  @if(categoryForm.get('catName')?.hasError(vldtn.type)
                  && (categoryForm.get('catName')?.dirty
                  || categoryForm.get('catName')?.touched)){
                  <div> {{vldtn.message}} </div>
                  }
                </div>
                }
              </div>
              <div class="mb-3">
                <label class="form-label fw-semibold">Description</label>
                <textarea class="form-control" rows="4"
                  [ngClass]="{ 'is-invalid': catFormErrDtls['catDescrptn'].errors && (catFormErrDtls['catDescrptn'].dirty || catFormErrDtls['catDescrptn'].touched)}"
                  formControlName="catDescrptn" placeholder="Enter description related to the category..."></textarea>
                @for (vldtn of validationMessage.catDescrptn; track vldtn) {
                <div class="invalid-feedback">
                  @if(categoryForm.get('catDescrptn')?.hasError(vldtn.type)
                  && (categoryForm.get('catDescrptn')?.dirty
                  || categoryForm.get('catDescrptn')?.touched)){
                  <div> {{vldtn.message}} </div>
                  }
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer text-end">
      <button class="btn text-center" (click)="categoryForm.reset()">Reset</button>
      <button type="submit" class="btn btn-primary text-center" [disabled]="categoryForm.invalid">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #delcategory let-delCntModal>
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="btn" aria-label="Close" (click)="delCntModal.dismiss('Cross click')">X</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card p-4">
          <div class="mb-3">
            <label class="form-label fw-semibold">Are you sure?</label>
            <input type="text" class="form-control" placeholder="Enter delete">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-end">
    <button class="btn btn-primary text-center">Save</button>
  </div>
</ng-template>
