<div class="auto-form-wrapper">
  <form class="mb-5" [formGroup]="loginForm" (submit)="loginUsr()">
    <div class="form-group mb-2">
      <label class="label">Email</label>
      <input type="text" class="form-control"
        [ngClass]="{ 'is-invalid': loginFormErrDtls['usrName'].errors && (loginFormErrDtls['usrName'].dirty || loginFormErrDtls['usrName'].touched)}"
        formControlName="usrName" placeholder="Username">
      @for (vldtn of validationMessage.usrName; track vldtn) {
      <div class="invalid-feedback">
        @if(loginForm.get('usrName')?.hasError(vldtn.type)
        && (loginForm.get('usrName')?.dirty
        || loginForm.get('usrName')?.touched)){
        <div> {{vldtn.message}} </div>
        }
      </div>
      }
    </div>
    <div class="form-group">
      <label class="label">Password</label>
      <input type="password" class="form-control"
        [ngClass]="{ 'is-invalid': loginFormErrDtls['usrPass'].errors && (loginFormErrDtls['usrPass'].dirty || loginFormErrDtls['usrPass'].touched)}"
        formControlName="usrPass" placeholder="*********">
      @for (vldtn of validationMessage.usrPass; track vldtn) {
      <div class="invalid-feedback">
        @if(loginForm.get('usrPass')?.hasError(vldtn.type)
        && (loginForm.get('usrPass')?.dirty
        || loginForm.get('usrPass')?.touched)){
        <div> {{vldtn.message}} </div>
        }
      </div>
      }
    </div>
    <!-- [disabled]="loginForm.invalid" -->
    <div class="form-group">
      <button class="btn btn-primary submit-btn btn-block" [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>
</div>
